# This is a basic workflow to help you get started with Actions

name: Playwright Tests #CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

  # Allows you to run this workflow manually from the Actions tab
  #[workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  playwright:
    name: 'Playwright Tests'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: #using python 3.12 container
      image: python:3.12 #mcr.microsoft.com/playwright/python:v1.39.0-jammy
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      # Runs a set of commands using the runners shell
      #- name: Set up Python
      #  uses: actions/setup-python@v4
      #  with: 
      #    python-version: '3.11'
      - name: Install dependncies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .
     # pip install -r local-requirements.txt
      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps
     # run python test
      - name: Run your tests
        run: pytest
